In [1]:
library(data.table)

In [2]:
mydata = fread("https://github.com/arunsrinivasan/satrdays-workshop/raw/master/flights_2014.csv")
mydata = mydata[1: 1000]

In [6]:
shuffled_index = sample(1000)
mydata = mydata[shuffled_index][1: 10]

In [7]:
mydata

   year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1  2014 1     1   1030      -5       1211     -30       0         EV
2  2014 1     1   1651     231       1755     221       0         B6
3  2014 1     1   1905      18       2214       7       0         B6
4  2014 1     1   1607       9       1804      33       0         UA
5  2014 1     2   2336     101        416     210       0         B6
6  2014 1     1    755      -1        948     -11       0         US
7  2014 1     1   1010       1       1307     -15       0         UA
8  2014 1     1   1242      73       1531      45       0         UA
9  2014 1     1   1929      -1       2107      -8       0         MQ
10 2014 1     2    631      31       1007      52       0         AA
   tailnum flight origin dest air_time distance hour min
1  N604QX  5210   LGA    STL  148       888     10   30
2  N239JB    34   JFK    BTV   48       266     16   51
3  N593JB   263   JFK    SEA  346      2422     19    5
4  N33284  1554   EWR    ORD  139       719     16    7
5  N587JB  2053   JFK    PBI  165      1028     23   36
6  N540UW  1733   LGA    CLT   88       544      7   55
7  N475UA   472   LGA    IAH  216      1416     10   10
8  N587UA   785   JFK    LAX  324      2475     12   42
9  N532MQ  3535   JFK    CMH   78       483     19   29
10 N3LBAA  1103   LGA    DFW  244      1389      6   31

In [8]:
names(mydata)

 [1] "year"      "month"     "day"       "dep_time"  "dep_delay" "arr_time"
 [7] "arr_delay" "cancelled" "carrier"   "tailnum"   "flight"    "origin"
[13] "dest"      "air_time"  "distance"  "hour"      "min"

In [11]:
#select single column by name
mydata[, origin] #return vector

 [1] "LGA" "JFK" "JFK" "EWR" "JFK" "LGA" "LGA" "JFK" "JFK" "LGA"

In [16]:
#select single column by column position
mydata[, 4]

   dep_time
1  1030
2  1651
3  1905
4  1607
5  2336
6   755
7  1010
8  1242
9  1929
10  631

In [18]:
#select mutiple columns by columns name
mydata[, .(origin, year, month, hour)]

   origin year month hour
1  LGA    2014 1     10
2  JFK    2014 1     16
3  JFK    2014 1     19
4  EWR    2014 1     16
5  JFK    2014 1     23
6  LGA    2014 1      7
7  LGA    2014 1     10
8  JFK    2014 1     12
9  JFK    2014 1     19
10 LGA    2014 1      6

In [20]:
mydata[, 2:4]

   month day dep_time
1  1     1   1030
2  1     1   1651
3  1     1   1905
4  1     1   1607
5  1     2   2336
6  1     1    755
7  1     1   1010
8  1     1   1242
9  1     1   1929
10 1     2    631

In [22]:
#filter out some columns
mydata[, !c('origin', 'dep_time', 'dep_delay', 'arr_time', 'arr_delay')]

   year month day cancelled carrier tailnum flight dest air_time distance hour
1  2014 1     1   0         EV      N604QX  5210   STL  148       888     10
2  2014 1     1   0         B6      N239JB    34   BTV   48       266     16
3  2014 1     1   0         B6      N593JB   263   SEA  346      2422     19
4  2014 1     1   0         UA      N33284  1554   ORD  139       719     16
5  2014 1     2   0         B6      N587JB  2053   PBI  165      1028     23
6  2014 1     1   0         US      N540UW  1733   CLT   88       544      7
7  2014 1     1   0         UA      N475UA   472   IAH  216      1416     10
8  2014 1     1   0         UA      N587UA   785   LAX  324      2475     12
9  2014 1     1   0         MQ      N532MQ  3535   CMH   78       483     19
10 2014 1     2   0         AA      N3LBAA  1103   DFW  244      1389      6
   min
1  30
2  51
3   5
4   7
5  36
6  55
7  10
8  42
9  29
10 31

In [25]:
#selecto columns that contain 'dep'
mydata[, names(mydata) %like% 'dep', with=FALSE]

   dep_time dep_delay
1  1030      -5
2  1651     231
3  1905      18
4  1607       9
5  2336     101
6   755      -1
7  1010       1
8  1242      73
9  1929      -1
10  631      31

In [29]:
#filter or subsetting data
#select flignt that start from JFK
mydata[origin == 'JFK']

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014 1     1   1651     231       1755     221       0         B6
2 2014 1     1   1905      18       2214       7       0         B6
3 2014 1     2   2336     101        416     210       0         B6
4 2014 1     1   1242      73       1531      45       0         UA
5 2014 1     1   1929      -1       2107      -8       0         MQ
  tailnum flight origin dest air_time distance hour min
1 N239JB    34   JFK    BTV   48       266     16   51
2 N593JB   263   JFK    SEA  346      2422     19    5
3 N587JB  2053   JFK    PBI  165      1028     23   36
4 N587UA   785   JFK    LAX  324      2475     12   42
5 N532MQ  3535   JFK    CMH   78       483     19   29

In [31]:
#select flights that depart from JFK and land on SEA
mydata[origin == 'JFK' & dest == 'SEA']

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014 1     1   1905     18        2214     7         0         B6
  tailnum flight origin dest air_time distance hour min
1 N593JB  263    JFK    SEA  346      2422     19   5

In [32]:
#apply not in subsetting

#select fligns which not start from JFK or LGA
mydata[!origin %in% c('JFK', 'LGA')]

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014 1     1   1607     9         1804     33        0         UA
  tailnum flight origin dest air_time distance hour min
1 N33284  1554   EWR    ORD  139      719      16   7

In [34]:
#Adding column

mydata[, isLongFlight := hour > 10]
mydata

   year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1  2014 1     1   1030      -5       1211     -30       0         EV
2  2014 1     1   1651     231       1755     221       0         B6
3  2014 1     1   1905      18       2214       7       0         B6
4  2014 1     1   1607       9       1804      33       0         UA
5  2014 1     2   2336     101        416     210       0         B6
6  2014 1     1    755      -1        948     -11       0         US
7  2014 1     1   1010       1       1307     -15       0         UA
8  2014 1     1   1242      73       1531      45       0         UA
9  2014 1     1   1929      -1       2107      -8       0         MQ
10 2014 1     2    631      31       1007      52       0         AA
   tailnum flight origin dest air_time distance hour min isLongFlight
1  N604QX  5210   LGA    STL  148       888     10   30  FALSE
2  N239JB    34   JFK    BTV   48       266     16   51   TRUE
3  N593JB   263   JFK    SEA  346      2422     19    5   TRUE
4  N33284  1554   EWR    ORD  139       719     16    7   TRUE
5  N587JB  2053   JFK    PBI  165      1028     23   36   TRUE
6  N540UW  1733   LGA    CLT   88       544      7   55  FALSE
7  N475UA   472   LGA    IAH  216      1416     10   10  FALSE
8  N587UA   785   JFK    LAX  324      2475     12   42   TRUE
9  N532MQ  3535   JFK    CMH   78       483     19   29   TRUE
10 N3LBAA  1103   LGA    DFW  244      1389      6   31  FALSE

In [36]:
#add multiple columns
mydata[, c('dep_sch', 'arr_sch') := list(dep_time - dep_delay, arr_time - arr_delay)]
mydata

   year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1  2014 1     1   1030      -5       1211     -30       0         EV
2  2014 1     1   1651     231       1755     221       0         B6
3  2014 1     1   1905      18       2214       7       0         B6
4  2014 1     1   1607       9       1804      33       0         UA
5  2014 1     2   2336     101        416     210       0         B6
6  2014 1     1    755      -1        948     -11       0         US
7  2014 1     1   1010       1       1307     -15       0         UA
8  2014 1     1   1242      73       1531      45       0         UA
9  2014 1     1   1929      -1       2107      -8       0         MQ
10 2014 1     2    631      31       1007      52       0         AA
   tailnum flight origin dest air_time distance hour min isLongFlight dep_sch
1  N604QX  5210   LGA    STL  148       888     10   30  FALSE        1035
2  N239JB    34   JFK    BTV   48       266     16   51   TRUE        1420
3  N593JB   263   JFK    SEA  346      2422     19    5   TRUE        1887
4  N33284  1554   EWR    ORD  139       719     16    7   TRUE        1598
5  N587JB  2053   JFK    PBI  165      1028     23   36   TRUE        2235
6  N540UW  1733   LGA    CLT   88       544      7   55  FALSE         756
7  N475UA   472   LGA    IAH  216      1416     10   10  FALSE        1009
8  N587UA   785   JFK    LAX  324      2475     12   42   TRUE        1169
9  N532MQ  3535   JFK    CMH   78       483     19   29   TRUE        1930
10 N3LBAA  1103   LGA    DFW  244      1389      6   31  FALSE         600
   arr_sch
1  1241
2  1534
3  2207
4  1771
5   206
6   959
7  1322
8  1486
9  2115
10  955

In [41]:
#Summary dataset
mydata[, .(
    mean = mean(dep_delay, na.rm = TRUE),
    median = median(dep_delay, na.rm = TRUE)
)]

  mean median
1 45.7 13.5

In [42]:
#summarize multiple columns
mydata[, lapply(.SD, mean), .SDcols = c('dep_delay', 'dep_time', 'arr_delay', 'arr_time')]

  dep_delay dep_time arr_delay arr_time
1 45.7      1409.6   50.4      1430

In [43]:
mydata[, lapply(.SD, mean), .SDCols = c('dep_delay', 'dep_time')]

Warning message in mean.default(X[[i]], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(X[[i]], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(X[[i]], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(X[[i]], ...):
“argument is not numeric or logical: returning NA”

  year month day dep_time dep_delay arr_time arr_delay cancelled carrier
1 2014 1     1.2 1409.6   45.7      1430     50.4      0         NA
  tailnum flight origin dest air_time distance hour min  isLongFlight dep_sch
1 NA      1674.2 NA     NA   179.6    1163     13.8 29.6 0.6          1363.9
  arr_sch
1 1379.6