In [161]:
A = matrix(1:9, nrow = 3, byrow = FALSE)
B <- matrix(4:15, nrow=4, byrow = FALSE)
C <- matrix(8:15, ncol = 2, byrow = FALSE)

In [164]:
my_list = list(A,B,C)
my_list

[[1]]
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

[[2]]
     [,1] [,2] [,3]
[1,]    4    8   12
[2,]    5    9   13
[3,]    6   10   14
[4,]    7   11   15

[[3]]
     [,1] [,2]
[1,]    8   12
[2,]    9   13
[3,]   10   14
[4,]   11   15

In [167]:
lapply(my_list, '[',,1)

[[1]]
[1] 1 2 3

[[2]]
[1] 4 5 6 7

[[3]]
[1]  8  9 10 11

In [168]:
lapply(my_list, '[',2,)

[[1]]
[1] 2 5 8

[[2]]
[1]  5  9 13

[[3]]
[1]  9 13

In [169]:
lapply(my_list, '[',3,2)

[[1]]
[1] 6

[[2]]
[1] 10

[[3]]
[1] 14