In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel('./data/fire_theft.xls')

*** No CODEPAGE record, no encoding_override: will use 'ascii'

In [6]:
df.head()

      X   Y
0   6.2  29
1   9.5  44
2  10.5  36
3   7.7  37
4   8.6  53